<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title  th:text="${title}">Insert title here</title>
<link th:href="@{/css/form-style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="header::header1"></div>
	<div><h1>ジャンル新規追加画面</h1></div>
	 <p th:text="${checkMessage}"></p>
	<div>
		<form method="post" action="#" th:action="@{/NoteToSelf/genreCreate}" th:object="${genreForm}">
			<table class="showMemo">
			    <tr class="showMemo">
		            <th>ジャンル名</th>
		            <td>
			            <div class="cp_iptxt">
			            	<input id="genre" name="genre" type="text" th:field="*{genre}" placeholder="genre"/>
			            	<div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
			            </div>
		            </td>
		        </tr>
		        	<tr class="showMemo">
		            	<th>ジャンル名</th>
		            	<td>
		            		<input type="submit" class="btn_03" value="登録">
		            	</td>
		        </tr>
		    </table>
		</form>
	</div>
</body>
</html>