<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <header th:fragment="header1">
  <div  style="background: yellow">
	<nav>
	  <ul>
	    <li><a th:href="@{/NoteToSelf/index}">NoteToSelf</a></li>
	    <li><a th:href="@{/NoteToSelf/genreCreate}">ジャンル追加画面</a></li>
	    <li><a th:href="@{/NoteToSelf/memoCreate}">コンテンツ追加画面</a></li>
	    <li><a href="#">検索フォーム</a></li>
	    <li><button>検索ボタン</button></li>
	  </ul>
	</nav>
  </div>
  </header>
</body>
</html>