<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title  th:text="${title}">Insert title here</title>
<link th:href="@{/css/form-style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="header::header1"></div>
	<div><h1>コンテンツ新規追加画面</h1></div>
	 <p th:text="${checkMessage}"></p>
	<div>
		<form method="post" action="#" th:action="@{/NoteToSelf/memoCreate}" th:object="${memoForm}">
			<table class="showMemo">
			    <tr class="showMemo">
		            <th>ジャンル</th>
		            <td>
			            <div class="cp_ipselect cp_sl05">
				            <label class="selectLabel">
								<select id="genreSelect" name="genre_id">
						 	    	<option th:each="genre : ${listGenre}" th:value="${genre.id}" th:text="${genre.genre}" th:selected="${genre.id == id}" >genreSelect</option>
								</select>
							</label>
						</div>
		            </td>
		        </tr>
		        <tr class="showMemo">
		            <th>タイトル名</th>
		            <td>
		            	<div class="cp_iptxt">
							<input id="title" name="title" type="text" th:field="*{title}" placeholder="Title" />
							<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
						</div>
		            </td>
		        </tr>
		        <tr class="showMemo">
		            <th>メモ内容</th>
		            <td>
		            	<div class="cp_iptextarea">
							<textarea id="contents" name="contents"th:field="*{contents}"  style="width: 90%;" placeholder="Content" ></textarea>
							<div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
						</div>
		            </td>
		        </tr>
		        <tr class="showMemo">
		        	<th>メモ内容</th>
		            <td>
						<input type="submit" class="btn_03" value="登録">
		            </td>
		        </tr>
			</table>
		</form>
	</div>
</body>
</html>